doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name="viewport" content="minimum-scale=1.0, maximum-scale=1.0")
    title Rubin

    link(rel="stylesheet", href="/stylesheets/style.css")
    //- libraries
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/jquery.easing/js/jquery.easing.min.js')
    script(type='text/javascript', src='/bower_components/fotorama/fotorama.js')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/underscore/underscore.js')
    //- app scripts
    script(type='text/javascript', src='/scripts/app.js')
    script(type='text/javascript', src='/scripts/layouts/main.js')
    script(type='text/javascript', src='/scripts/views/main_view.js')
    script(type='text/javascript', src='/scripts/views/navigation_view.js')

  body
    .wrapper
      .wrapper-inner
        section.navigation
          .user-container
            .left-container
              .search
                input(type=text)
                .search-button
              ul.social-white
                li.vk
                li.fb
                li.google
                li.tw
                li.instagram
              .logo
          nav
            ul
              li News
              li Season
              li Club
              li Tickets
              li Shop
              li Forum

        header.header
          section.header-top-part
            .dropdown-menu-container
              .menu.news
              .menu.season
                ul
                  li.menu-item
                    a(class='menu-item-link' href='#') Rubin
                    .menu-item-content
                      ul
                        li
                          a(href='#')
                            .image-wrapper
                              .image(style='background-image: url(../images/for-slider.jpg)')
                            | Ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim.
                        li
                          a(href='#')
                            .image-wrapper
                              .image(style='background-image: url(../images/for-slider.jpg)')
                            | Ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim.
                        li
                          a(href='#')
                            .image-wrapper
                              .image(style='background-image: url(../images/for-slider.jpg)')
                            | Ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim.
                  li.menu-item
                    a(class='menu-item-link' href='#') Rubin-2
                    .menu-item-content
                  li.menu-item
                    a(class='menu-item-link' href='#') Neftekhimik
                    .menu-item-content
                  li.menu-item
                    a(class='menu-item-link' href='#') Rubin-M
                    .menu-item-content
                  li.menu-item
                    a(class='menu-item-link' href='#') Academy
                    .menu-item-content
                  li.menu-item
                    a(class='menu-item-link' href='#') Kamaz
                    .menu-item-content
              .menu.club
              .menu.tickets
              .menu.shop
              .menu.forum
            .header-container
              //- header slider

              //- div(
              //-   class='fotorama slider'
              //-   data-width='100%'
              //-   data-height='350px'
              //-   data-loop='true'
              //- )
              //-   img(src='images/for-slider.jpg')
              //-   img(src='images/for-slider.jpg')
              //-   img(src='images/for-slider.jpg')
              .green-top-line

          //- match result block

          //- .match-result
          //-   .match-inner
          //-     .match-container
          //-       section.match-slider
          //-         div(
          //-           class='fotorama slider slider-with-data'
          //-           data-width='100%'
          //-           data-height='125px'
          //-           data-loop='true'
          //-         )
          //-           .match-item
          //-             .rivals
          //-               .rivals-item
          //-                 .image-wrapper
          //-                   img(src='images/rubin-for-match.png')
          //-                 span Rubin, Kazan
          //-               .rivals-item
          //-                 .logo-wrapper
          //-                   img(src='images/zenit-for-match.png')
          //-                 span Zenit, St. Petersbugr
          //-             .title
          //-               span.date
          //-                 | 10 november 2014
          //-               span.time
          //-                 | 20:15
          //-               span.place
          //-                 | Kazan Arena, Kazan
          //-               a(href='#' class='tickets')
          //-                 | Get tickets
          //-           .match-item
          //-             .rivals
          //-               .rivals-item
          //-                 .logo-wrapper
          //-                   img(src='images/zenit-for-match.png')
          //-                 span Zenit, St. Petersbugr
          //-               .rivals-item
          //-                 .image-wrapper
          //-                   img(src='images/rubin-for-match.png')
          //-                 span Rubin, Kazan
          //-             .title
          //-               span.date
          //-                 | 22 november 2014
          //-               span.time
          //-                 | 22:22
          //-               span.place
          //-                 | Kazan Arena, Kazan
          //-               a(href='#' class='tickets')
          //-                 | Get tickets
          //-     .green-bottom-line

          //- current match information block

          section.current-match-information
            .match-inner
              .match-container
                section.match-slider
                  .match-item
                    .rivals
                      .rivals-item.current-rivals-item
                        .score-item.left-item 1
                        .logo-wrapper
                          img(src='images/rubin-for-match.png')
                          span Rubin, Kazan
                      .rivals-item.current-rivals-item
                        .score-item.right-item 2
                        .logo-wrapper
                          img(src='images/zenit-for-match.png')
                          span Zenit, St. Petersbugr
                    .title
                      span.live-text
                        | Live: Premier League match
                      span.current-date
                        | 10 November 2014
                      span.match-time
                        | 59
                section.match-information
                  .current-match-table-left
                    .table-head
                      button.button View full coverage
                    .half
                      .half-head
                        | 2nd half
                      ul.occasions-list
                        li.occasion-block
                          .minute 57'
                          .left-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.goal
                              span Joe Sampleman
                          .right-rivals-ocassion
                        li.occasion-block
                          .minute 48'
                          .left-rivals-ocassion
                          .right-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.goal
                              span Joe Sampleman
                    .half
                      .half-head
                        | 1nd half
                      ul.occasions-list
                        li.occasion-block
                          .minute 57'
                          .left-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.goal
                              span Joe Sampleman
                          .right-rivals-ocassion
                        li.occasion-block
                          .minute 48'
                          .left-rivals-ocassion
                          .right-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.red-card
                              span Joe Sampleman
                        li.occasion-block
                          .minute 42'
                          .left-rivals-ocassion
                          .right-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.yellow-card
                              span Joe Sampleman
                        li.occasion-block
                          .minute 12'
                          .left-rivals-ocassion
                          .right-rivals-ocassion
                            .ocassion-inner
                              .icon-wrapper
                                .icon.yellow-card
                              span Joe Sampleman
                  .current-match-table-right
                    .table-head
                      | Todays lineup
                    .teams
                      .team-item
                        .logo-wrapper
                          img(src='../images/for-table-rubin.png')
                        span Rubin
                      .team-item
                        .logo-wrapper
                          img(src='../images/for-table-zenit.png')
                        span Zenit
                    ul.team.left-team
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                      li
                        a(href='#')
                          .number 12
                          .surname Kuzmin
                    ul.team.right-team
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
                      li
                        a(href='#')
                          .number 5
                          .surname Marcano
              .green-bottom-line

          div(
            class='fotorama'
            data-width='100%'
            data-height='350px'
            data-loop='true'
          )
            img(src='images/for-slider.jpg')
            img(src='images/for-slider.jpg')
            img(src='images/for-slider.jpg')

        section.main
          .home-grid
            ul.grid
              li.col-grid.col-featured
                h2 Featured
                a(href='#' class='tile club')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-featured.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                      .video
                a(href='#' class='tile team')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-featured.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                a(href='#' class='tile academy')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-featured.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                      .audio
                a(href='#' class='tile academy')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-featured.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                      .audio

              li.col-grid.col-trending
                h2 Trending
                a(href='#' class='tile club')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-home-trenging.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                      .video
                .twitter-widget.tile.widget
                  span.on-twitter On Twitter
                  .tw-icon
                  ul
                    li
                      .tw-picture
                      .tw-content
                        .title
                          span FC Rubin Kazan
                        .date
                          time 20-11-2013
                        .text
                          | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match.
                    li
                      .tw-picture
                      .tw-content
                        .title
                          span FC Rubin Kazan
                        .date
                          time 20-11-2013
                        .text
                          | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match.
                    li
                      .tw-picture
                      .tw-content
                        .title
                          span FC Rubin Kazan
                        .date
                          time 20-11-2013
                        .text
                          | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match.
                a(href='#' class='tile')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-home-trenging.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 132 Shares
                a(href='#' class='tile kazaz')
                  .image-wrapper
                    .image(style='background-image: url(../images/for-home-trenging.jpg)')
                  .tile-content
                    h3 Loremipsum Donec
                    p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                    .buttons
                      .shares 32 Shares
                      .photo

              li.col-grid.col-additional
                h2 Breaking
                .breaking.tile
                  ul
                    li
                      a(href='#' class='breaking-item')
                        p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                        .buttons
                          .shares 32 Shares
                          .video
                          .date 5 minutes ago
                    li
                      a(href='#' class='breaking-item')
                        p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                        .buttons
                          .shares 32 Shares
                          .date 5 minutes ago
                    li
                      a(href='#' class='breaking-item tile neftekhimik')
                        .image-container
                          .image-title Solescid ut quat
                          .image-wrapper
                            .image(style='background-image: url(../images/for-home-trenging.jpg)')
                        .buttons
                          .shares 32 Shares
                          .date 5 minutes ago

                .rubin-tv-widget.tile.widget
                  h2 Rubin Tv
                  a(href='#')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-home-trenging.jpg)')
                    | View more videos

                .advertisement
                  span Advertisement
                  .image(style='background-image: url(../images/for-advertisement.jpg)')

                .score-widget.tile.widget
                  div(
                    class='fotorama slider slider-widget'
                    data-width='225px'
                    data-height='225px'
                    data-loop='true'
                  )
                    .score-item
                      .rivals
                        .rivals-item
                          .image-wrapper
                            img(src='images/rubin-for-match.png')
                          span Rubin, Kazan
                        .rivals-item
                          .image-wrapper
                            img(src='images/zenit-for-match.png')
                          span Zenit, St. Petersbugr
                      .score
                        | 2 : 0
                      span.title
                        | 22 november 2014 <br> Kazan Arena, Kazan
                    .score-item
                      .rivals
                        .rivals-item
                          .image-wrapper
                            img(src='images/zenit-for-match.png')
                          span Zenit, St. Petersbugr
                        .rivals-item
                          .image-wrapper
                            img(src='images/rubin-for-match.png')
                          span Rubin, Kazan
                      .score
                        | 1 : 2
                      span.title
                        | 31 december 2014 <br> Kazan Arena, Kazan

                .advertisement
                  span Advertisement
                  .image(style='background-image: url(../images/for-advertisement.jpg)')

            .load-more
              span.default Load more
              span.clicked Hide all

      footer.footer
        section.footer-widgets
          .green-red-line
          .widgets
            ul.widgets-container
              li.widget
              li.widget
              li.widget
              li.widget

        section.footer-sponsors
          span Sponsors
          .line.line-one
            .sponsor.sponsor_ak_bank
            .sponsor.sponsor_mts
            .sponsor.sponsor_puma
            .sponsor.sponsor_sogaz
            .sponsor.sponsor_taif
            .sponsor.sponsor_tattelecom
            .sponsor.sponsor_tgc16
            .sponsor.sponsor_viatti
          .line.line-two
            .sponsor.sponsor_uefa
            .sponsor.sponsor_eca
            .sponsor.sponsor_rfs
            .sponsor.sponsor_fifa
            .sponsor.sponsor_russain_league

        section.footer-text
          .copyright
            © Copyright Rubin Kazan 2014
          ul.footer-links
            li
              a(href='#') Contact us
            li
              a(href='#') Terms and Conditions
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Advertising
            li
              a(href='#') Sponsors

